body {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.checked {
  text-decoration : line-through;
  color: #5a5a5a;
}
.searchOnText {
  margin-bottom: 15px;
}
.errorInput {
  border : 1px solid red;
}

.accordionPadding {
  margin-top: 56px;
}

.datepickerSearchButton {
  margin-top: 10px;
}

.pointer:hover{
  cursor: pointer;
}
